* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  background-color: rgb(242, 243, 247);
}

.sketch {
  margin: 18px auto;
  width: 750px;
  height: 520px;
  background-color: rgb(207, 0, 0);
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.container {
  width: 592px;
  height: 362px;
  margin: 16px auto;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(192, 192, 192);
 
}

.btns-top {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin: 8px 0px;
}

.clear,
.eraser,
.pick-up,
.rainbow,
.btn-new {
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-new {
  display: block;
  margin: 12px auto;

  background-color: green;
  color: #fff;
}
