* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  background-color: rgb(242, 243, 247);
}

.sketch {
  margin: 18px auto;
  width: 750px;
  height: 520px;
  background-color: rgb(207, 0, 0);
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

h1 {
  text-align: center;
  padding-top: 10px;
}

.container {
  width: 592px;
  height: 362px;
  margin: 16px auto;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(192, 192, 192);
}

.btns-top {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin: 8px 0px;
}

.clear,
.eraser,
.pick-up,
.rainbow,
.btn-new {
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.new-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 5àpx;
 
}

/* sTYLE DU CURSEUR  */
#grid-proportion {
  cursor: pointer;
  appearance: none;
  border-radius: 50px;
  width: 25%;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.new-grid span { 
   font-size: 20px;
  font-weight: 600;
  color: #fff;
}
 

/* CLASSES UTILITAIRES */
.rainbow-color {
  /* Rouge, Orange, Jaune, Vert, Bleu, Indigo, Violet */
  background: linear-gradient(
    to right,
    #ff0000,
    #ffa500,
    #ffff00,
    #008000,
    #0000ff,
    #4b0082,
    #ee82ee
  );
}
