* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
}

.sketch {
  border: 2px Solid red;
  margin: 16px auto;
  width: 420px;
  height: 420px;
  background-color: red;
}

.container {
  width: 320px;
  height: 320px;
  margin: 16px auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

button {
  display: block;
  margin: 12px auto;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: green;
  color: #fff;
}
